@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    font-family: 'Muli', 'Arial', sans-serif;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
    color: rgb(55, 55, 55);
}

.app {
    display: block;
    max-width: 960px;
    margin: 0 auto;
    

    section {
        display: block;

        &.data-info {
            display: flex;
            padding: 25px;
            flex-wrap: wrap;
            justify-content: center;

            p {
                font-size: 14pt;
                color: rgb(110, 110, 110)
            }
        }
    }
}

h1.header {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 36pt;
}